/* ====================================
   BAR LAYOUT
   ==================================== */

/* Main Container */
.eww_bar {
  background-color: $background;
  padding: 0.3rem;
  border-radius: 12px;
}

/* Workspace Container */
.works {
  font-family: "Material Design Icons Desktop";
  padding: 0.3rem 0.4rem;
  background-color: $background;
  border-radius: 5px;
}

/* ====================================
   WORKSPACE INDICATORS
   ==================================== */

/* Focused Workspace */
.workspace-focused {
  font-size: 20px;
  color: $primary;
  margin: 0.10rem 0;
}

/* Occupied Workspace */
.workspace-occupied {
  font-size: 20px;
  color: $secondaryContainer;
  margin: 0.10rem 0;
}

/* Empty Workspace */
.workspace-empty {
  font-size: 18px;
  color: $background;
  margin: 0.15rem 0;
}


/* ====================================
   INTERACTIVE BUTTONS
   ==================================== */

/* Base Button Style */
.bar-button {
  padding: 0.2rem 0;
  min-height: 60px;
  font-size: 35px;
  color: $primary;
  transition: all 0.3s ease;

  &:hover {
    color: $onPrimary;
  }
}


/* ====================================
   BOTTOM WIDGETS
   ==================================== */

.clock {
  margin: 0rem 0rem;
  background-color: $surfaceContainerHigh;
  border-radius: 8px;
  padding: 0.2rem 0.1rem;
}

.clock-hour {
  color: $error;
  font-size: 1.3rem;
  font-weight: bold;
}

.clock-minute {
  color: $onPrimaryContainer;
  font-size: 1.3rem;
  font-weight: bold;
}

.icon-button {
  color: $primary;
  font-size: 2.1rem;
  padding: 0rem;
  transition: all 0.3s ease;

  &:hover {
    color: $onPrimary;
  }
}

.icon-button:hover {
  .clock {
    background-color: $surfaceContainerHigh;
  }
}

/* ====================================
   URGENT WORKSPACE
   ==================================== */

.workspace-urgent {
  color: $error;
  animation: blinking 1s infinite;
}

.battery-percentage-text {
  font-size: 0.8rem;
  font-weight: bold;
  color: $primary;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.icon-button:hover .battery-percentage-text {
  opacity: 1;
}

.low-battery {
  color: $error;
}
