/* --- Main Bar Window --- */
.eww_bar {
  background-color: $background;
  padding: 0.3rem;
  border-radius: 12px;
}

/* --- Top Section --- */
.works {
  font-family: "Material Design Icons Desktop";
  padding: 0.5rem 0.7rem;
  background-color: $background;
  border-radius: 5px;
}

.workspace-focused {
  font-size: 18px;
  color: $primary;
  margin: 0.35rem 0;
}

.workspace-occupied {
  font-size: 18px;
  color: $secondaryContainer;
  margin: 0.35rem 0;
}

.workspace-empty {
  font-size: 18px;
  color: $background;
  margin: 0.35rem 0;
}

/* --- Uniform Button Styling --- */
.bar-button {
  min-width: 40px;
  min-height: 40px;
  font-size: 22px;
  color: $primary;
  transition: all 0.3s ease;
}
.bar-button:hover {
  color: $onPrimary;
}

/* --- Bottom Section --- */
.clock-wrapper {
  background-color: $background;
  border-radius: 5px;
  padding: 3px;
}

.clock-container {
  font-weight: bold;
}

.clock-hour, .clock-min {
  font-size: 16px;
}

.power-button {
  color: $primary;
}
.power-button:hover {
  color: $primaryContainer;
  text-shadow: 0 0 10px $onError;
}

.dashboard-button:hover {
  color: $primaryContainer;
}

/* --- System Tray Menu --- */
.tray menu {
  padding: 5px;
  background-color: $background;
}

.tray menu > menuitem {
  font-family: "JetBrainsMono NF";
  font-size: 14px;
  padding: 2px 5px;
  color: $error;
}

.tray menu > menuitem:hover {
  background-color: $error;
}

.tray menu > menuitem:disabled label {
  color: gray;
}

.tray menu separator {
  background-color: $error;
  padding-top: 1px;
}
