/* --- Calendar --- */
.calendar-box {
  background-color: $background;
  border-radius: 12px;
  padding: 1.5rem;
  font-family: "JetBrainsMono NF";
}
.time-and-date {
  color: $primary;
  margin-bottom: 1rem;
}
.time-big {
  font-size: 3em;
  font-weight: bold;
}
.date-big {
  font-size: 1.2em;
}
.cal {
  color: $primary;
  background-color: $surfaceContainer;
  padding: 1rem;
  border-radius: 12px;
}
.cal calendar:selected {
  color: $error;
}
.cal calendar.header {
  color: $primary;
  font-weight: bold;
}
.cal calendar.button {
  color: $primary;
}
.cal calendar.highlight {
  color: $primary;
  font-weight: bold;
}
