/* --- OSD --- */
.osd-window {
  border-radius: 24px;
  padding: 1rem;
  min-width: 180px;
  min-height: 180px;
}
.osd-icon-box {
  margin-bottom: 10px;
}
.osd-icon-big {
  font-size: 6em;
  color: $primary;
}
.osd-scale trough {
  all: unset;
  background-color: $primary;
  border-radius: 10px;
  min-height: 12px;
  padding: 0px;
}
.osd-scale trough highlight {
  background-color: $primaryContainer;
  border-radius: 10px;
}

/* --- Circular Progress OSD --- */
.osd-circular-progress {
  color: $primary;
  background-color: $primaryContainer;
}
