// Archivo de colores para Eww, generado por Matugen.

$background: #101417;
$foreground: #e0e3e8;
$cursor: #98ccf9;
$onPrimaryContainer: #cbe6ff;

// Transparencias (usando funciones de color de SASS)
$background_transparent: rgba($background, 0.7);
$clock_background_transparent: rgba($background, 0.4);

// Paleta de 16 colores para compatibilidad
$color0: #42474d;
$color1: #ffb4ab;
$color2: #d1bfe7;
$color3: #98ccf9;
$color4: #b8c8d9;
$color5: #98ccf9;
$color6: #b8c8d9;
$color7: #e0e3e8;
$color8: #c1c7ce;
$color9: #93000a;
$color10: #4e4162;
$color11: #034b71;
$color12: #394856;
$color13: #034b71;
$color14: #394856;
$color15: #cbe6ff;
